<a href="https://colab.research.google.com/github/jaishreejain112003/My_Projects/blob/main/EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
path="/content/drive/MyDrive/Default_Fin.csv"
df=pd.read_csv(path)

In [ ]:
df.columns

Index(['Index', 'Employed', 'Bank Balance', 'Annual Salary', 'Defaulted?'], dtype='object')

In [ ]:
df.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0

ans 1)

In [ ]:
# df[(df.Employed==1) & (df['Bank Balance']>5000) & (df['Annual Salary']>100000) & (df['Defaulted?']== 1)]
df['Eligibility']='Not Eligible'
df.loc[(df.Employed==1) & (df['Bank Balance']>5000) & (df['Annual Salary']>100000) & (df['Defaulted?']== 1) , 'Eligibility'] = 'Eligible'

Hence the number of people who will be given a grace period of exactly 15 days will be 1.who are employeed 2.having bank balance greater than 5000 3. Annual Income greater than 100,000.

In [ ]:
df.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?   Eligibility
0      1         1       8754.36      532339.56           0  Not Eligible
1      2         0       9806.16      145273.56           0  Not Eligible
2      3         1      12882.60      381205.68           0  Not Eligible
3      4         1       6351.00      428453.88           0  Not Eligible
4      5         1       9427.92      461562.00           0  Not Eligible

Taking only defaulters into this first condition

ans 2)

In [ ]:
columns =['Index','Employed','Bank_Balance','Annual_Salary','Defaulted','Eligibility']
df.columns=columns

In [ ]:
df.head()

   Index  Employed  Bank_Balance  Annual_Salary  Defaulted   Eligibility
0      1         1       8754.36      532339.56          0  Not Eligible
1      2         0       9806.16      145273.56          0  Not Eligible
2      3         1      12882.60      381205.68          0  Not Eligible
3      4         1       6351.00      428453.88          0  Not Eligible
4      5         1       9427.92      461562.00          0  Not Eligible

In [ ]:
# df.assign(Maximum_Fine = lambda x:x.Annual_Salary*0.375)
df['Maximum_Fine']=df['Bank_Balance']*0.375
df.loc[df['Defaulted']==0,'Maximum_Fine']=0

In [ ]:
df.head(100)

,Index,Employed,Bank_Balance,Annual_Salary,Defaulted,Eligibility,Maximum_Fine
0,1,1,8754.36,532339.56,0,Not Eligible,0.0
1,2,0,9806.16,145273.56,0,Not Eligible,0.0
2,3,1,12882.60,381205.68,0,Not Eligible,0.0
3,4,1,6351.00,428453.88,0,Not Eligible,0.0
4,5,1,9427.92,461562.00,0,Not Eligible,0.0
...,...,...,...,...,...,...,...
95,96,1,9840.24,619015.92,0,Not Eligible,0.0
96,97,0,7437.00,189007.44,0,Not Eligible,0.0
97,98,1,12572.64,557003.64,0,Not Eligible,0.0
98,99,1,2926.08,566326.68,0,Not Eligible,0.0
99,100,1,2238.00,545166.60,0,Not Eligible,0.0

Hence maximum fine is obtained

In [ ]:
Max_Fine = df['Maximum_Fine'].max(axis=0)
Max_Fine

11944.44

Hence Max_Fine is calculated

ans c)

In [ ]:
sum_of_Fines=df['Maximum_Fine'].sum(axis=0)
sum_of_Fines

2619110.565

Hence the total fine will be obtained when all the fines of all defaulters during the grace period is added up

ans d)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df.groupby(['Eligibility'])['Bank_Balance'].sum()

Eligibility
Eligible         4149077.40
Not Eligible    96095907.84
Name: Bank_Balance, dtype: float64

Here using defaulter as a parameter I found the difference in the bank balance between the Eligible and Not Eligible can be maintained